In [1]:
import os
import pandas as pd

In [2]:
dirpath = "C:\\Users\\DS\\Desktop\\MLminiProject\\aclImdb\\CSV\\Train\\"
output = "C:\\Users\\DS\\Desktop\\MLminiProject\\aclImdb\\CSV\\Test\\"

# Training CSV

In [3]:
train_neg = pd.read_csv(dirpath + "neg_train.csv")
train_neg

                                                 comment sentiment
0      story of a man who has unnatural feelings for ...  negative
1      airport 77 starts as a brand new luxury 747 pl...  negative
2      this film lacked something i couldnt put my fi...  negative
3      sorry everyone i know this is supposed to be a...  negative
4      when i was little my parents took me along to ...  negative
...                                                  ...       ...
12495  towards the end of the movie i felt it was too...  negative
12496  this is the kind of movie that my enemies cont...  negative
12497  i saw descent last night at the stockholm film...  negative
12498  some films that you pick up for a pound turn o...  negative
12499  this is one of the dumbest films ive ever seen...  negative

[12500 rows x 2 columns]

In [4]:
train_pos = pd.read_csv(dirpath + "pos_train.csv")
train_pos

                                                 comment sentiment
0      bromwell high is a cartoon comedy it ran at th...  positive
1      homelessness or houselessness as george carlin...  positive
2      brilliant overacting by lesley ann warren best...  positive
3      this is easily the most underrated film inn th...  positive
4      this is not the typical mel brooks film it was...  positive
...                                                  ...       ...
12495  seeing as the vote average was pretty low and ...  positive
12496  the plot had some wretched unbelievable twists...  positive
12497  i am amazed at how this movieand most others h...  positive
12498  a christmas together actually came before my t...  positive
12499  workingclass romantic drama from director mart...  positive

[12500 rows x 2 columns]

In [5]:
test_merged = pd.concat([train_neg, train_pos])
#test_merged.info()

test_merged.to_csv(dirpath + "merged_train.csv", index = False, header=True)
test_merged = pd.read_csv(dirpath + "merged_train.csv")
test_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   comment    25000 non-null  object
 1   sentiment  25000 non-null  object
dtypes: object(2)
memory usage: 390.8+ KB

# Testing CSV

In [6]:
test_pos = pd.read_csv(output + "pos_test.csv")
test_pos

                                                 comment sentiment
0      i went and saw this movie last night after bei...  positive
1      actor turned director bill paxton follows up h...  positive
2      as a recreational golfer with some knowledge o...  positive
3      i saw this film in a sneak preview and it is d...  positive
4      bill paxton has taken the true story of the 19...  positive
...                                                  ...       ...
12495  i was extraordinarily impressed by this film i...  positive
12496  although im not a golf fan i attended a sneak ...  positive
12497  from the start of the edge of love the viewer ...  positive
12498  this movie with all its complexity and subtlet...  positive
12499  ive seen this story before but my kids havent ...  positive

[12500 rows x 2 columns]

In [7]:
test_neg = pd.read_csv(output + "neg_test.csv")
test_neg

                                                 comment sentiment
0      once again mr costner has dragged out a movie ...  negative
1      this is an example of why the majority of acti...  negative
2      first of all i hate those moronic rappers who ...  negative
3      not even the beatles could write songs everyon...  negative
4      brass pictures movies is not a fitting word fo...  negative
...                                                  ...       ...
12495  i occasionally let my kids watch this garbage ...  negative
12496  when all we have anymore is pretty much realit...  negative
12497  the basic genre is a thriller intercut with an...  negative
12498  four things intrigued me as to this film  firs...  negative
12499  david bryces comments nearby are exceptionally...  negative

[12500 rows x 2 columns]

In [8]:
test_merged = pd.concat([test_neg, test_pos])
#test_merged.info()

test_merged.to_csv(output+"merged_test.csv", index = False, header=True)
test_merged = pd.read_csv(output + "merged_test.csv")
test_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   comment    25000 non-null  object
 1   sentiment  25000 non-null  object
dtypes: object(2)
memory usage: 390.8+ KB